.logo {
    /* slightly smaller logo to save vertical space */
    height: 32px;
    max-height: 32px;
}

.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar .navbar-brand {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #d6d6d6;
    color: inherit;
    text-decoration: none;
}